<section class="outer">

  <div class="blocks">
    <a class="blocks-inner">
      Start
    </a>
  </div>
  <div class="blocks-line"></div>
  <div class="blocks-circle" data-toggle="modal" data-target="#exampleModal1" (click)="openModal(template)">+</div>

  <!-- single element code start -->
  <div class="addSingle" [ngClass]="(showSingle)?'show':'hide'">
    <div class="blocks-line"></div>
    <div class="blocks">
      <a class="blocks-inner">
        Start
      </a>

    </div>
    <div class="blocks-line"></div>
    <div class="blocks-circle" data-toggle="modal" data-target="#exampleModal1" (click)="openModal(template)">+</div>
  </div>
  <!-- single element code end -->

  <!-- Two element code start -->
  <div class="addSingle" [ngClass]="(showTwo)?'show':'hide'">
    <div class="blocks-line"></div>
    <div class="blocks-delete" (mouseenter)="changeText=true" (mouseleave)="changeText=false">
      <a class="blocks-inner-delete">
        Email
      </a>
      <div class="deleteCircle" (click)="mouseFunction()">
        <img class="imageStyle" src="./../assets/delete.png" alt="delete" *ngIf="changeText">
      </div>
    </div>
    <div class="blocks-line"></div>
    <div class="blocks-circle" >+</div>
    <div class="blocks-line"></div>
    <div class="blocks">
      <a class="blocks-inner">
        Condition
      </a>

    </div>
    <div class="blocks-line"></div>
    <div class="blocks-horizontal-line"></div>
    <div class="group">
      <div class="sideOne">
        <div class="blocks-line"></div>
        <div class="blocks-2circle green"><i class="fa fa-arrow-right"></i></div>
        <div class="blocks-line"></div>
        <div class="blocks-2circle red"><i class="fa fa-arrow-right"></i></div>
      </div>

      <div class="sideTwo">
        <div class="blocks-line"></div>
        <div class="blocks-2circle green"><i class="fa fa-arrow-right"></i></div>
        <div class="blocks-line"></div>
        <div class="blocks-2circle red"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>
  </div>
  <!-- Two element code end -->


  <!-- modal code start -->
  <ng-template #template>
    <div class="modal-header bg-light">
      <h5 class="modal-title text-primary" id="exampleModalLabel text-center">whether to add two elements or a single
        element.
      </h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body modal-content bg-light">
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded" data-dismiss="modal" (click)="addSingleElement()">Add
          single element</button>
        <button type="button" class="btn btn-secondary rounded" (click)="addTwoElement()">Add two element</button>
      </div>
    </div>
  </ng-template>
  <!-- modal code end -->

</section>